<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css" />
<head>
  <meta charset="UTF-8" />
  <title>Edit Task</title>
</head>

<body>
<h1>Edit Todo</h1>

<form th:action="@{/todo/edit}" th:object="${editTodo}" method="post">
  <input type="hidden" th:field="*{id}" th:value="*{id}"/>
  <input type="text" th:field="*{title}" th:value="*{title}"/>
  <input type="checkbox" th:field="*{isUrgent}" th:value="*{isUrgent}"/>
  <input type="checkbox" th:field="*{isCompleted}" th:value="*{isCompleted}"/>
  <button type="submit">Save</button>
</form>

</body>
</html>