<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css" />
<head>
  <meta charset="UTF-8" />
  <title>Todolist</title>
</head>

<body>
<h1>TODOS FOR TODAY:</h1>

<table>
  <colgroup span="4"></colgroup>
  <tr class="header">
    <th>Id</th>
    <th>Action</th>
    <th>Urgent</th>
    <th>Done</th>
  </tr>
  <tr th:each="todo : ${todoRepository}">
    <th th:text="${todo.getId()}"></th>
    <th th:text="${todo.getTitle()}"></th>
    <th th:text="${todo.getIsUrgent()}"></th>
    <th th:text="${todo.getIsCompleted()}"></th>
  </tr>
</table>


</body>
</html>