<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css" />
<head>
  <meta charset="UTF-8" />
  <title>Todolist</title>
</head>

<body>
<h1>TODOS FOR TODAY:</h1>
  <a th:href="@{/todo/add}">Add new task</a>

<table>
  <colgroup span="5"></colgroup>
  <tr class="header">
    <th>Id</th>
    <th>Action</th>
    <th>Urgent</th>
    <th>Done</th>
  </tr>
  <tr th:each="todo : ${todoRepository}">
    <th th:text="${todo.getId()}"></th>
    <th th:text="${todo.getTitle()}"></th>
    <th th:text="${todo.getIsUrgent()}"></th>
    <th th:text="${todo.getIsCompleted()}"></th>
    <th><a th:href="@{/todo/edit/} + ${todo.getId()}">edit</a></th>
    <th><a th:href="@{/todo/delete/} + ${todo.getId()}">delete</a></th>
  </tr>
</table>

</body>
</html>