th {
  border: 1px solid darkslategray;
  text-align: left;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
}

.header {
  text-align: center;
  font-weight: bold;
  color: navajowhite;
  background-color: orangered;
  text-transform: uppercase;;
}

body {
  background-color: darkorange;
  font-family: 'Arial';
  font-size: 1.6em;
}

tr:hover {
  background-color: darkviolet;
  color: cornflowerblue;
}

input {
  height: 2em;
  vertical-align: middle;
}

button {
  height: 2em;
  vertical-align: middle;
}