<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Radish</title>
  </head>

  <body>

    <table>
      <colgroup span="6"></colgroup>
      <tr>
        <th>Id</th>
        <th></th>
        <th></th>
        <th>Rank</th>
        <th>Content</th>
        <th>Posted</th>
      </tr>
      <tr th:each="post : ${allPosts}">
        <td th:text="${post.getPostId()}"></td>
        <td><a th:href="@{/radish/posts/} + ${post.getPostId()} + '/increase'">+</a></td>
        <td><a th:href="@{/radish/posts/} + ${post.getPostId()} + '/decrease'">-</a></td>
        <td th:text="${post.getPostRank()}"></td>
        <td th:text="${post.getPostContent()}"></td>
        <td th:text="${post.getDateCreated()}"></td>
      </tr>
    </table>

    <h3>
      <a th:href="@{/radish/posts/add}">Add new post</a>
    </h3>

  </body>
</html>
